<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{package.domain}}.{{package.name}}"
    android:versionCode="{{package.version.code}}"
    android:versionName="{{package.version}}">

    <uses-sdk android:minSdkVersion="{{android.minapi}}" android:targetSdkVersion="{{android.api}}" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="{{package.title}}"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name="org.kivy.android.PythonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.kivy.android.PythonService"
            android:exported="false"
            android:process=":python_service"
            android:foregroundServiceType="dataSync">
        </service>

        <meta-data android:name="android.app.lib_name" value="main" />
    </application>
</manifest>